*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title{
	margin-top: 3rem;
}

.form-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	height: 70vh;
}


.label{
	margin: 1rem 0.5rem;
}

.inputs{
	border: none;
	outline: none;
	background-color: #f5f5f5;
	color: #000;
	height: 200px;
	border-radius: 5px;
	padding: 0.5rem;
	border: 1px solid #000;
}


.input-buttom-submit{
	width: 150px;
	margin: 1rem;
}