html {
  /* background-color: #212429; */
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial;
}

main{
  padding: 10px 300px;
  text-align: justify;

  color: #333;
  accent-color: #e48c0d;
}

.title{
  text-align: center;
  margin:  3em 0 1em 0;
}

.handyman{
  margin: 7em 0 0 0;
}

.services{
  width: 30%;
  margin: 10% 0 10% 0;
}