<div th:fragment="cardProvider" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" th:each="tmpProvider : ${searchReturn}">
      <div class="card h-100">
          <img src="../../img/worker1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title" th:text="${tmpProvider.name}"></h5>
              <p class="card-text" th:text="${tmpProvider.description}"></p>
          </div>
          <div class="card-footer">
              <small class="text-body-secondary">⭐⭐⭐⭐⭐️</small>
          </div>
      </div>
  </div>
</div>