<header th:fragment="navbar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
              <img src="../../img/home-repair.png" alt="Logo" width="30" height="24"
                  class="d-inline-block align-text-top">
              Mi marido te lo hace
          </a>
      </div>

      <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">

                  <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li> -->

                  <li class="nav-item">
                      <a class="nav-link" href="#">¿Cómo funciona?</a>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">🛠 Servicios</a>
                      <ul class="dropdown-menu">

                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=ALBAÑIL">Albañil</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=CARPINTERO">Carpintero</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=CERRAJERO">cerrajero</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=ELECTRISISTA">Electrisista</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=GASISTA">Gasista</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=HERRERO">Herrero</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=LIMPIEZA">Limpieza</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/Providers/search?location=&profession=PLOMERO">Plomero</a></li>
                          <li><hr class="dropdown-divider"></li>
                      </ul>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          📝 Registrate!
                      </a>
                      <ul class="dropdown-menu">

                          <li><a class="dropdown-item" href="../FormCustomer.html">Soy cliente</a></li>

                          <li>
                              <hr class="dropdown-divider">
                          </li>

                          <li><a class="dropdown-item" href="../FormProvider.html">Soy profesional</a></li>

                          <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                      </ul>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="login.html">✅ Login</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>