<header th:fragment="navbar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top logo">
        MMTLH
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">¿Quiénes somos?</a>
          </li>

          <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">LISTAS USUARIOS 👥</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/dashboard?role=provider">Proveedores ⚙️</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/dashboard?role=customer">Clientes 🙋🏼‍♂️</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_CUSTOMER')">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" th:if="${#authorization.expression('hasRole(''ROLE_CUSTOMER'')')}">🧰 Servicios</a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="/search?profession=ALBAÑIL">🧱
                  Albañilería</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=CARPINTERO">🪚
                  Carpintería</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=CERRAJERO">🔑
                  Cerrajería</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=ELECTRICISTA">💡
                  Electricidad</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=GASISTA">🔥 Gas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=HERRERO">🔩
                  Herrería</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=CARPINTERO">🪣
                  Limpieza</a></li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/search?profession=PLOMERO">🚽
                  Plomería</a></li>
            </ul>
          </li>

          <li class="nav-item" th:if="${session.userSession == null}">
            <a class="nav-link" href="/user/select" role="button" aria-expanded="false">
              Registrate! 📝
            </a>
          </li>

          <li class="nav-item" th:if="${session.userSession == null}">
            <a class="nav-link" href="/login">Ingresar ✅</a>
          </li>

          <!-- Fede: Arreglé lo de la img de perfil y nombre de usuario -->

          <li class="nav-item dropdown" th:if="${session.userSession != null}">
            <a class="nav-link dropdown-toggle" aria-current="page" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
                <img th:src="@{'/image/DB/' + ${session.userSession.image}}" alt="Foto de perfil" width="25" height="25" class="rounded-circle">
                <span class="user-name" th:text="${session.userSession.name}"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</header>