.left-col .button {
  width: 15em;
  height: 3em;

  margin-top: 1rem;

  color: #333;
  background: #f1c057;
  border: none;
  border-radius: 50px;

  cursor: pointer;

  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 8px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 8px rgba(0, 0, 0, 0);
}

.button:hover {
  color: #333;
  background: #f3a600;
  border: none;
  border-radius: 50px;
  transform: scale(1.1);
  transition: 1s;
}

.button:active {
  color: #333;
  background: #f36500;
  border: none;
  border-radius: 50px;
  transform: scale(1);
  transition: 1s;
}