/* .main-form {
  background: #d0e4f500 url("../img/handyman.png") no-repeat scroll 75% 60%;
} */

form {
  padding: 1.25% 30% 1.25% 0;
  text-align: justify;
}

.form-group {
  margin-bottom: 20px 0;
}

label,
input {
  vertical-align: middle;
}

label,
input:not([type="radio"],
  [type="checkbox"]) {
  width: 100%;
}

input,
textarea,
select,
input:not([type="file"]) {
  background: #fff;

  border: 3px solid #954090;
  border-radius: 30px;
  padding: 8px 10px;
  color: #c63f81;
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #c63f81;
}

::placeholder{
  color: #c63f81;
}

textarea {
  width: 100%;
  display: block;
  resize: vertical;
}

/* .fieldset {
  display: flex;
  align-content: center;
} */

.hover {
  border-radius: 30px;
}

.button {
  background-color: #c63f81;
  border: #954090;
  
  color: #fff;
  width: 15em;
  height: 3em;

  border-radius: 50px;

  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"]:checked + label {
  background-color: #eee;
}