.image {
  margin: 18em 0 0 0;
  width: 180%;

  
}

.image2,
.image3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image2 {
  width: 110%;
  margin: 10em 0 0 0;
}

.image3 {
  width: 120%;
  margin: 15em 0 0 0;
}

.image-profile{
  width: 15%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}