.big-title {
  font-size: 57px;
  text-align: left;
  margin: 0 0 0.5em 0;

  color: #9b3f94;
}

.subtitle {
  font-size: 23px;
  text-align: left;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 3em 0 1.5em 0;

  color: #9b3f94;
}