<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="th_templates/head :: head"></head>

  <body>
    <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <header th:replace="th_templates/navbar :: navbar"></header>

    <main>
      <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <div class="container text-center">
        <div class="row">
          <div class="col left-col">
            <h1 class="big-title">
              Mi marido<br />
              te lo hace
            </h1>
            <h4 class="subtitle">Reparaciones hogareñas</h4>
          </div>
          <div class="col">
            <img class="image" src="../img/homeRepair.svg" alt="home repair" />
          </div>
        </div>
      </div>

      <h1 class="big-title">¿Quienes Somos?</h1>
      <h4>
        Somos una plataforma líder como proveedor de contacto para servicios del
        hogar, conectando a los usuarios con profesionales confiables como
        gasistas, plomeros, electricistas, etc. Los usuarios pueden buscar y
        contactar a proveedores con perfiles verificados, dejar comentarios y
        puntajes para ayudar a construir una red confiable. Nuestra plataforma
        es fácil de usar y nos esforzamos por garantizar que los usuarios
        encuentren a los mejores profesionales para sus necesidades del hogar.
      </h4>

      <h1 class="title">integrantes</h1>
      <a href="https://github.com/tu-usuario-de-github" target="_blank">
        <button class="boton-github"><i class="bi bi-github"></i> Federico Trucco</button>
      </a>
      <a href="https://github.com/tu-usuario-de-github" target="_blank">
        <button class="boton-github"><i class="bi bi-github"></i> Eric Lemos</button>
      </a>
      <a href="https://github.com/tu-usuario-de-github" target="_blank">
        <button class="boton-github"><i class="bi bi-github"></i> Facundo Nedic</button>
      </a>
      <a href="https://github.com/tu-usuario-de-github" target="_blank">
        <button class="boton-github"><i class="bi bi-github"></i> Fabrizio Contreras</button>
      </a>
      <a href="https://github.com/tu-usuario-de-github" target="_blank">
        <button class="boton-github"><i class="bi bi-github"></i> Valentín Mathey</button>
      </a>
    </main>

    <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <footer th:replace="th_templates/footer :: footer"></footer>

    <!-- Script / Bootstrap -->
    <div th:replace="th_templates/bootstrap :: bootstrap"></div>
  </body>
</html>
