<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>

  <main class="main-index">

    <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container text-center">
      <div class="row">
        <div class="col left-col">
          <h4 class="subtitle">Te damos la bienvenida</h4>
          <h1 class="big-title">Administrador!</h1>

          <div class="row justify-content-center">
            <!-- <button id="edit-password" class="btn btn-warning button" type="button">Cambiar contraseña</button> -->
            <div class="col-6 col-md-4">
              <button id="edit-perfil" class="btn btn-warning button" type="submit">🏠 Clientes</button>
            </div>
    
            <div class="col-6 col-md-4">
              <button id="delete-perfil" class="btn btn-warning button" type="button" onclick="location.href='deleteAccount.html';">🧰 Proveedores</button>
            </div>
          </div>
        </div>
        <div class="col">
          <img class="image3" src="../img/database.svg" alt="database">
        </div>
      </div>
    </div>

    <br><br>

    <!-- TABLE -->
    <div th:if="${users != null}">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <!-- <th>id</th> -->
            <th>Foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th colspan="3">Acciones</th>
          </tr>
        </thead>
        <tbody th:each="user : ${users}">
          <tr>
            <!-- <td th:text="${user.id}"></td> -->
            <td><img class="profilePic" th:src="@{'/image/DB/' + ${user.image}}"></td>
            <td class="td-name" th:text="${user.name}"></td>
            <td class="td-lastname" th:text="${user.lastname}"></td>
            <td class="td-email" th:text="${user.email}"></td>
            <td class="td-role" th:text="${user.role}"></td>

            <div class="td-actions">
              <td class="td-change-role"><a th:href="@{/user/perfil/__${user.id}__}"><i class="bi bi-person-circle"></i> Cambiar Rol</a></td>
              <td class="td-edit"><a th:href="@{/user/perfil/__${user.id}__}"><i class="bi bi-pen"></i> Modificar</a></td>
              <td class="td-delete"><a th:href="@{/user/perfil/__${user.id}__}"><i class="bi bi-trash"></i> Eliminar</a></td>
            </div>
            
          </tr>
        </tbody>
      </table>
    </div>

  </main>

  <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>

</body>

</html>