<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>
  <form class="form-container" th:object="${provider}" th:action="@{/provider/register}" method="post" enctype="multipart/form-data">
    <h1 class="title">📝 Registrate</h1>
    <div>
      <label class="label" for="nombre"></label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre" th:field="*{name}" />

      <label class="label" for="lastname"></label>
      <input type="text" id="lastname" name="lastname" placeholder="Apellido" th:field="*{lastname}" />

      <label class="label" for="email"></label>
      <input type="text" id="email" name="email" placeholder="E-mail" th:field="*{email}" />

      <label class="label" for="description"></label>
      <input type="text" id="description" name="description" placeholder="descripcion.." th:field="*{description}"/>

      <label class="label" for="priceTime"></label>
      <input type="number" id="priceTime" name="priceTime" placeholder="priceTime" th:field="*{priceTime}"/>

      <select id="location" class="inputs" th:field="*{location}">
        <option th:each="locations : ${locations}" th:text="${locations.name}" th:value="${locations}"/>
      </select>

      <select id="profession" class="inputs" th:field="*{profession}">
        <option th:each="professions : ${professions}" th:text="${professions.name}" th:value="${professions}"/>
      </select>

      <label class="label" for="password"></label>
      <input type="password" id="password" name="password" placeholder="Contraseña" th:field="*{password}" />
    </div>
    <div>
      <label for="img" class="btn btn-warning button">
        📸 Subir foto de perfil
        <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg" capture="user" style="display:none;">
      </label>
      <div>
        <input type="submit" name="" class="inputs input-buttom-submit">
      </div>
    </div>
  </form>
    </body>
  <footer th:replace="th_templates/footer :: footer"></footer>
    <!-- Script / Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
