<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>
<!--  eric: agregado el thymeleaf al formulario para enviar los datos-->
<!--  probado y funcionando-->

<main class="main-form">
  <form class="form-container" th:object="${customer}" th:action="@{/customer/register}" method="post" enctype="multipart/form-data" onsubmit="return formValidation()">
    <h1 class="title">📝 Registrate</h1>
    <div>
      <label class="label" for="nombre"></label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre" th:field="*{name}" />

      <label class="label" for="lastname"></label>
      <input type="text" id="lastname" name="lastname" placeholder="Apellido" th:field="*{lastname}" />

      <label class="label" for="email"></label>
      <input type="text" id="email" name="email" placeholder="E-mail" th:field="*{email}" />

      <label class="label" for="location"></label>
      <select id="location" class="inputs" th:field="*{location}">
        <option th:each="locations : ${locations}" th:text="${locations.name}" th:value="${locations}"/>
      </select>

      <label class="label" for="password"></label>
      <input type="password" id="password" name="password" placeholder="Contraseña" th:field="*{password}" />
    </div>
    <div>
      <label for="img" class="btn btn-warning button">
        📸 Subir foto de perfil
        <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg" capture="user" style="display:none;">
      </label>
      <div>
        <input type="submit" name="" class="inputs input-buttom-submit">
      </div>
    </div>
  </form>
</main>

  <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- SCRIPT FormValidation -->
  
  <script src="/src/main/resources/static/js/formValidation.js"></script>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>

</body>
</html>