<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>

  <main class="main-form">

    <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container text-center">
      <div class="row">
        <div class="col left-col">
          <h1 class="big-title">📝 ¡Registrate!</h1>
          <h4 class="subtitle">Pero antes contanos...</h4>

          <!-- <button type="button" class="btn btn-warning button" href="#">📝Registrate</button> -->
        </div>
        <div class="col">
          <img class="image" src="/img/homeRepair.svg" alt="home repair">
        </div>
      </div>
    </div>
<!-- eric: cambio el form aqui ya que sino no toma los roles-->
    <form id="formContainer" class="form-container" th:object="${user}" th:action="@{/user/register}" method="post"
          enctype="multipart/form-data">

    <div class="row row-cols-1 row-cols-md-2 g-4" th:field="*{role}">
      <div class="col">
        <div class="card">
          <!--          a todas las src de imagenes le saque los ../ del comienzo ya que en localhost no cargaba las imagenes-->
          <img src="/img/customer-avatar.png" class="card-img-top" alt="avatar">
          <div class="card-body">
            <!--            eric: añadido el input para asignar rol y la label selecciona to do el texto ya que sino
            no se guarda el rol-->
            <label for="customer">
              <h5 class="card-title">¿Sos cliente?</h5>
              <p class="card-text">Selecciona esta opción si necesitás adquirir un servicio.</p>
              <input id="customer" type="radio" th:value="${customerRole}" name="role">
            </label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/img/provider-avatar.png" class="card-img-top" alt="avatar">
          <div class="card-body">
            <!--            eric: lo mismo que arrival-->
            <label for="provider">
              <h5 class="card-title">¿Sos profesional?</h5>
              <p class="card-text">Selecciona esta opción si querés prestar un servicio.</p>
              <input id="provider" type="radio" th:value="${providerRole}" name="role">
            </label>
          </div>
        </div>
      </div>
    </div>

<!--    eric: aqui antes empezaba el <form>-->

      <div id="user-info" style="display: none;">
        <label class="label" for="nombre"></label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" th:field="*{name}" required />

        <label class="label" for="lastname"></label>
        <input type="text" id="lastname" name="lastname" placeholder="Tu apellido" th:field="*{lastname}" required />

        <label class="label" for="email"></label>
        <input type="text" id="email" name="email" placeholder="email@email.com" th:field="*{email}" required />

        <label class="label" for="password"></label>
        <input type="password" id="password" name="password" placeholder="Contraseña" th:field="*{password}" required />

        <label class="label" for="password2"></label>
        <input type="password" id="password2" name="password2" placeholder="Repetí tu contraseña" required />


<!--eric: para que no de error ya saque las cosas de user, dejo comentado para la reutilizacion en user.html-->
<!--        <div  style="display:none;">-->
<!--          <label for="img" class="btn btn-warning button">-->
<!--            <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg" capture="user" />-->
<!--          </label>-->
<!--        </div>-->

      </div>


      <div id="user-info-provider" style="display: none;">
        <!-- Aquí iría el formulario o información adicional para proveedores -->

        <br>
        <select id="profession" class="inputs" th:field="*{profession}">
          <option value="" selected>Elegí tu profesión</option>
          <option th:each="professions : ${professions}" th:text="${professions.name}" th:value="${professions}" required />
      </select>

        <label class="label" for="description"></label>
        <textarea classs="description" maxlength="500" id="description" name="description" placeholder="Describí lo que hacés"
          th:field="*{description}"></textarea>
      </div>

      <div>
<!--        eric: type="button" > type="submit"-->
        <button id="submit-btn" type="submit" class="btn btn-warning button">📝 ¡Registrate!</button>
      </div>

    </form>
  </main>

  <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>


  <!-- SCRIPT FOR CARDS -->
  <script>
    const userCards = document.querySelectorAll('.card');
    const userInfoDiv = document.getElementById('user-info');
    const userInfoProviderDiv = document.getElementById('user-info-provider');

    userCards.forEach(card => {
      //lo que esta comentado es para ver que se asignen los roles por consola(web)
      card.addEventListener('click', function (/*event*/) {
        // const value = event.target.value;
        // console.log(value);

        const title = card.querySelector('.card-title').textContent;
        userInfoDiv.style.display = 'block';
        if (title === "¿Sos profesional?") {
          userInfoProviderDiv.style.display = 'block';
        } else {
          userInfoProviderDiv.style.display = 'none';
        }
      });
    });
  </script>

  <!-- SCRIPT FOR BUTTON -->
  <!-- <script>
    const formContainer = document.querySelector('#user-info');
    const submitBtn = document.querySelector('#submit-btn');
    submitBtn.style.display = 'none';
  
    formContainer.addEventListener('change', function() {
      if (formContainer.style.display === 'none') {
        submitBtn.style.display = 'none';
      } else {
        submitBtn.style.display = 'block';
      }
    });
  </script> -->
</body>

</html>


<!-- <div id="user-role" th:field="*{role}">
          <label><input type="radio" name="role" th:value="${customerRole}" required> Usuario </label>
          <label><input type="radio" name="role" th:value="${providerRole}" required> Proveedor </label>
        </div> -->

<!-- <script>
    const userRoleDiv = document.getElementById('user-role');
    const userInfoDiv = document.getElementById('user-info');
    const userInfoProviderDiv = document.getElementById('user-info-provider');

    userRoleDiv.addEventListener('change', function (event) {
      const value = event.target.value;
      userInfoDiv.style.display = 'block';
      if (value === "PROVIDER") {
        userInfoProviderDiv.style.display = 'block';
      } else {
        userInfoProviderDiv.style.display = 'none';
      }
    });
  </script> -->