<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>

  <main class="main-index">

    <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container text-center">
      <div class="row">
        <div class="col left-col">
          <h1 class="big-title">Mi marido<br>
            te lo hace</h1>
          <h4 class="subtitle">Reparaciones hogareñas</h4>

          <button type="button" class="btn btn-primary button">📝Registrate</button>
        </div>
        <div class="col">
          <img class="image" src="../img/homeRepair.svg" alt="home repair">
        </div>
      </div>
    </div>

    <!-- IMG / PROVIDERS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <section>
      <h3 class="title">Servicios</h3>

      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <img src="../img/cement.svg" class="services" alt="cement">
          </div>
          <div class="col">
            <img src="../img/carpenter.svg" class="services" alt="carpenter">
          </div>
          <div class="col">
            <img src="../img/locksmith.svg" class="services" alt="locksmith">
          </div>
          <div class="col">
            <img src="../img/electrician.svg" class="services" alt="electrician">
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <img src="../img/gas.svg" class="services" alt="gas">
          </div>
          <div class="col">
            <img src="../img/blacksmith.svg" class="services" alt="blacksmith">
          </div>
          <div class="col">
            <img src="../img/cleaning.svg" class="services" alt="cleaning">
          </div>
          <div class="col">
            <img src="../img/plumbing.svg" class="services" alt="plumbing">
          </div>
        </div>
      </div>
    </section>

    <!-- NEIGHBORHOOD MAP >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <section>
      <h3 class="title">Zona de trabajo</h3>

      <div th:replace="th_templates/map :: map"></div>
    </section>
  </main>

  <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>

</body>
</html>