<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <header th:replace="th_templates/navbar :: navbar"></header>

  <main class="main-index">

    <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <img class="image-center" src="../img/login.svg" alt="login">
        </div>
      </div>
      <div class="row mt-2 ">
        <div class="col-text-center">
          <h1 class="big-title-center">✅ ¡Ingresá!</h1>
        </div>
      </div>
    </div>

    <!--  ERROR CARD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container-error-card" th:if="${not #strings.isEmpty(mssg)}">
      <div class="row-error-card">
        <div class="col-md-6 mx-auto error-card">
          <div class="card text-white bg-danger mb-3">
            <div class="card-body">
              <p class="card-text" th:text="${mssg}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--  LOGIN CARD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <form th:action="@{/logincheck}" method="post">
      <label class="label" for="email"></label>
      <input type="text" id="email" name="email" placeholder="Email" required>
      <label class="label" for="password"></label>
      <input type="password" id="password" name="password" placeholder="Contraseña" required>

      <button type="submit" class="btn btn-warning button btn-form">✅ ¡Ingresá!</button>
    </form>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>
</body>

</html>