<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <header th:replace="th_templates/navbar :: navbar"></header>

  <main class="main-form">
    <form class="form-container" th:action="@{/logincheck}" method="post">
      <h1 class="title">✅ ¡Ingresá! </h1>
      
      <p th:text="${mssg}"></p>

      <div>

        <label class="label" for="email"></label>
        <input type="text" id="email" name="email" placeholder="email@email.com" />


        <label class="label" for="password"></label>
        <input type="password" id="password" name="password" placeholder="Contraseña" />

      </div>
      <br>
      <div>
        <button type="summit" class="btn btn-warning button" href="/user">✅ ¡Ingresá!</button>
      </div>

    </form>
  </main>

  <!-- PIE DE PÁGINA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->

  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>

</body>
</html>