<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<link rel="stylesheet" href="/src/main/resources/static/css/MyProfile.css" />
<link rel="stylesheet" href="/src/main/resources/static/css/form.css" />

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>
  <br><br><br>

  <main class="main-index">

    <form class="profile-form" id="get-perfil-form" th:object="${usuarioActual}" method="post"
      th:action="@{'/user/perfil/' + ${id} +'/mod'}" enctype="multipart/form-data">
      
      <div id="rolStore" th:data-rol="*{role}"></div>
    <div class="container text-center">
        <div class="row-image">
          <div class="col left-col">
            <div id="image-div" class="form-container" th:object="${usuarioActual}">
              <div class="profile-picture">
                <img class="image-profile" th:src="@{'/image/DB/' + *{image}}" />
              </div>
            </div>

            <h1 class="big-title">Mi perfil</h1>
            <!-- <h4 class="subtitle">Reparaciones hogareñas</h4> -->
        </div>
        <div class="col-image">
          <img class="image2" src="/img/profile.svg" alt="profile">
        </div>
      </div>

      <label class="label" for="name">Nombre</label>
      <input type="text" id="name" name="name" placeholder="Nombre" th:value="*{name}" required />

      <label class="label" for="lastname">Apellido</label>
      <input type="text" id="lastname" name="lastname" placeholder="Apellido" th:value="*{lastname}" required />
        <div class="providerOnly" style="display: none">
            <label class="label" for="phone">N° de Telefono</label>
            <input type="number" id="phone" name="phone" placeholder="Telefono" th:value="*{phone}"/>
        </div>
<!--        los <br> estan para que el container-profession-btn no se coma el numero-->
      <br><br><br><br>
      <div class="container-profession-btn">
        <div class="d-flex justify-content-center btn-upload-photo">
          <!-- este div solo afecta a la profession-->
          <div class="providerOnly" style="display: none">
            <label class="label" for="profession"></label>
            <select id="profession" class="inputs" th:field="*{profession}">
              <option th:each="profession : ${professions}" th:text="${profession.name}" th:value="${profession}">
            </select>
          </div>
          <button type="button" class="btn btn-warning button" onclick="document.getElementById('img').click();">📸 Subir foto de perfil</button>
          <input type="file" id="img" name="img" accept=".png, .jpeg, .jpg" capture="user" style="display:none;" />
        </div>
      </div>

      <div class="providerOnly" style="display: none">
        <label class="label" for="description"></label>
        <textarea id="description" name="description" placeholder="Podés cambiar tu antigua descripción"
          th:value="*{description}"></textarea>
      </div>

      <div class="row justify-content-center">
        <!-- <button id="edit-password" class="btn btn-warning button" type="button">Cambiar contraseña</button> -->
        <div class="col-6 col-md-4">
          <button id="edit-perfil" class="btn btn-warning button" type="submit">🔄 Actualizar</button>
        </div>

        <div class="col-6 col-md-4">
          <button id="delete-perfil" class="btn btn-warning button" type="button">🗑 Eliminar cuenta</button>
        </div>
      </div>
    </form>

    <form id="delete-perfil-div" method="post" th:action="@{'/user/perfil/' + ${id} +'/del'}"
      th:object="${usuarioActual}" style="display: none">

      <h1 class="big-title2">¿Querés borrar tu cuenta?</h1>
      <h4 class="subtitle">⌛️ La cuenta sera borrada definitivamente una vez pasado 3 meses⏳</h4>

      <div class="row justify-content-center">
        <div class="col-6 col-md-4">
          <button id="submit-btn1" type="submit" class="btn btn-warning button btn-block">🗑 Si, borrar</button>
        </div>
        <div class="col-6 col-md-4">
          <button id="submit-btn2" type="button" class="btn btn-warning button btn-block">Cancelar</button>
        </div>
      </div>
    </form>

    
  </main>

  <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>

  <!-- Script delete account -->
  <script>
    const deleteForm = document.getElementById('delete-perfil-div');
    const profileForm = document.getElementById('get-perfil-form');

    const deleteBtn = document.getElementById('delete-perfil');
    const backBtn = document.getElementById('submit-btn2')

    deleteBtn.addEventListener('click', () => {
      deleteForm.style.display = 'block';
      profileForm.style.display = 'none';
    })

    backBtn.addEventListener('click', () => {
      deleteForm.style.display = 'none';
      profileForm.style.display = 'block';
    })

    //gestion de rol
    const divProviders = document.querySelectorAll(".providerOnly")
    var rolUser = document.getElementById("rolStore");
    var rolInfo = rolUser.getAttribute("data-rol");
    console.log(rolInfo);
    if (rolInfo === 'PROVIDER'){
      for (let i = 0; i < divProviders.length; i++) {
        divProviders[i].style.display = "block";
      }
    }
    <!----------- Script to LowerCase Enum ----------->
    const professionSelect = document.getElementById("profession");
    for (let i = 1; i < professionSelect.options.length; i++) {
        const lowercaseProfession = professionSelect.options[i].text.toLowerCase();
        const capitalizedProfession = lowercaseProfession.charAt(0).toUpperCase() + lowercaseProfession.slice(1);
        professionSelect.options[i].text = capitalizedProfession;
    }
  </script>





















  <!-- Script change password -->
  <script>
    const changePasswordForm = document.getElementById('change-password');
    const showChangePasswordFormButton = document.getElementById('show-change-password-form');

    showChangePasswordFormButton.addEventListener('click', () => {
      changePasswordForm.style.display = 'block';
      showChangePasswordFormButton.style.display = 'none';
    });
  </script>

  <script>
    const formGetUser = document.getElementById("get-perfil-form");

    const imageDiv = document.getElementById("image-div");

    const formChangeUser = document.getElementById("edit-perfil-form");
    const divDeleteUser = document.getElementById("delete-perfil-div");
    const passChange = document.getElementById("change-password");

    const btnBack1 = document.getElementById("btn-back-1");
    const btnBack2 = document.getElementById("btn-back-2");
    const btnBack3 = document.getElementById("btn-back-3");

    const editButton = document.getElementById("edit-perfil");
    const editPasswordButton = document.getElementById("edit-password");
    const deleteButton = document.getElementById("delete-perfil");

    // botones de cambio de opcion

    editButton.addEventListener("click", function () {
      formGetUser.style.display = "none";
      formChangeUser.style.display = "block";
    });

    deleteButton.addEventListener("click", function () {
      formGetUser.style.display = "none";
      imageDiv.style.display = "none";
      divDeleteUser.style.display = "block";
    });

    editPasswordButton.addEventListener("click", function () {
      formGetUser.style.display = "none";
      imageDiv.style.display = "none";
      passChange.style.display = "block";
    });

    //botones de cancelar

    btnBack1.addEventListener("click", function () {
      formGetUser.style.display = "block";
      formChangeUser.style.display = "none";
    });
    btnBack2.addEventListener("click", function () {
      formGetUser.style.display = "block";
      imageDiv.style.display = "block";
      divDeleteUser.style.display = "none";
    });
    btnBack3.addEventListener("click", function () {
      formGetUser.style.display = "block";
      imageDiv.style.display = "block";
      passChange.style.display = "none";
    });

    //correlacion contrasena
    var passStore = document.getElementById("passStore");
    var pass = passStore.getAttribute("data-pass");
    console.log(pass);
    const password = document.getElementById("password").textContent;
    const newPassword = document.getElementById("newPassword").textContent;
    const btnConfirm = document.getElementById("Confirm-change-pass");

    if (password === pass && newPassword !== password) {
      btnConfirm.style.display = "block";
    }

    //gestion de rol
    const divProviders = document.querySelectorAll(".providerOnly")
    var rolUser = document.getElementById("rolStore");
    var rolInfo = rolUser.getAttribute("data-rol");
    console.log(rolInfo);
    if (rolInfo === 'PROVIDER') {
      for (let i = 0; i < divProviders.length; i++) {
        divProviders[i].style.display = "block";
      }
    }
  </script>


  <!----------- Script to LowerCase Enum ----------->
  <script>
    const professionSelect = document.getElementById("profession");

    for (let i = 1; i < professionSelect.options.length; i++) {
      const lowercaseProfession = professionSelect.options[i].text.toLowerCase();
      const capitalizedProfession = lowercaseProfession.charAt(0).toUpperCase() + lowercaseProfession.slice(1);
      professionSelect.options[i].text = capitalizedProfession;
    }
  </script>

</body>

</html>







<!--   <form  id="get-perfil-form" th:object="${usuarioActual}">
      <div class="form-group">
        <p th:text="*{name}"></p>
      </div>
      <div class="form-group">
        <p th:text="*{lastname}"></p>
      </div>
      <div class="form-group">
        <p th:text="*{email}"></p>
      </div>
      <div class="providerOnly" style="display: none">
        <div class="form-group">
          <p th:text="*{profession}"></p>
        </div>
        <div class="form-group">
          <p th:text="*{description}"></p>
        </div>
      </div>
      <div class="form-buttons">-->
<!--     se modifico el user controller para hacer que dependiendo la url sea la accion tomada-->
<!--  <button id="edit-password" class="btn btn-warning button" type="button">Cambiar contraseña</button>
        <button id="edit-perfil" class="btn btn-warning button" type="button">Actualizar</button>
        <button id="delete-perfil" class="btn btn-warning button" type="button">Dar baja</button>
      </div>
    </form>-->

<!--  <form id="edit-perfil-form" method="post" th:action="@{'/user/perfil/' + ${id} +'/mod'}" style="display: none" th:object="${usuarioActual}" enctype="multipart/form-data">
      <div id="rolStore" th:data-rol="*{role}"></div>
      <div class="form-group">
        <label class="label" for="nombre"></label>
        <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
                th:field="*{name}"
                required
        />
      </div>
      <div class="form-group">
        <label class="label" for="lastname"></label>
        <input
                type="text"
                id="lastname"
                name="lastname"
                placeholder="Apellido"
                th:field="*{lastname}"
                required
        />
      </div>
      <div class="form-group">
        <label for="email"></label>
        <input
                type="text"
                id="email"
                name="email"
                placeholder="E-mail"
                th:field="*{email}"
                required
        />
      </div>
      <label for="img" class="btn btn-warning button">
        <input
                type="file"
                id="img"
                name="img"
                accept=".png, .jpeg, .jpg"
                capture="user"
        />📸 Subir foto de perfil
      </label>

      <div class="providerOnly" style="display: none">
        <div class="form-group">
          <select id="profession" class="inputs" th:field="*{profession}">
            <option
                    th:each="professions : ${professions}"
                    th:text="${professions.name}"
                    th:value="${professions}"
            />
          </select>
        </div>
        <div class="form-group">
          <label for="description"></label>
          <input
                  type="text"
                  id="description"
                  name="description"
                  th:field="*{description}"
          />
        </div>
      </div>
      <input type="hidden" th:field="*{role}"/>
      <div class="form-buttons">-->
<!--          se modifico el user controller para hacer que dependiendo la url sea la accion tomada-->
<!--  <button class="btn btn-warning button" type="submit">confirmar</button>
        <button id="btn-back-1" class="btn btn-warning button" type="button">cancelar</button>
      </div>
    </form>

    <form id="delete-perfil-div" method="post" th:action="@{'/user/perfil/' + ${id} +'/del'}" style="display: none" th:object="${usuarioActual}">
      <h1>Seguro que quieres Borrar la cuenta?</h1>
      <h2>la cuenta sera borrada definitivamente una vez pasado 3 meses</h2>

      <div class="form-buttons">-->
<!--          se modifico el user controller para hacer que dependiendo la url sea la accion tomada-->
<!-- <button class="btn btn-warning button" type="submit">confirmar</button>
        <button id="btn-back-2" class="btn btn-warning button" type="button">cancelar</button>
      </div>
    </form>


    <form id="change-password"  method="post" th:action="@{'/user/perfil/' + ${id} +'/mod'}" style="display: none" th:object="${usuarioActual}">
      <label class="label" for="password"></label>
      <div id="passStore" th:data-pass="*{password}"></div>
      <input
              type="password"
              id="password"
              name="pass"
              placeholder="contraseña actual"
              required
      />
      <label class="label" for="newPassword"></label>
      <input
              type="password"
              id="newPassword"
              name="password2"
              placeholder="nueva contraseña"
              th:field="*{password}"
              required
      />
      <div class="form-buttons">-->
<!--          se modifico el user controller para hacer que dependiendo la url sea la accion tomada-->
<!--  <button id="Confirm-change-pass" class="btn btn-warning button" type="submit">confirmar</button>
        <button id="btn-back-3" class="btn btn-warning button" type="button">cancelar</button>
      </div>
    </form>-->


<!-- <form id="delete-perfil-div" method="post" th:action="@{'/user/perfil/' + ${id} +'/del'}" style="display: none" th:object="${usuarioActual}">
  <h1 class="big-title">¿Querés borrar<br>
    tu cuenta?</h1>
    <h4 class="subtitle">la cuenta sera borrada definitivamente una vez pasado 3 meses</h4>
  <div class="form-buttons">
    <button class="btn btn-warning button" type="submit">confirmar</button>
    <button id="btn-back-2" class="btn btn-warning button" type="button">cancelar</button>
  </div>
</form> -->

<!-- <form id="change-password" method="post" th:action="@{'/user/perfil/' + ${id} +'/mod'}" style="display: none" th:object="${usuarioActual}">
  <label class="label" for="password">Contraseña actual</label>
  <input class="input" type="password" id="password" name="password" required/>
  <label class="label" for="new-password">Nueva contraseña</label>
  <input class="input" type="password" id="new-password" name="newPassword" required/>
  
  <label class="label" for="confirm-password">Confirmar contraseña</label>
  <input class="input" type="password" id="confirm-password" name="confirmPassword" required/>
  
  <button class="button" type="submit">Cambiar contraseña</button>
  
  </form> -->