<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
  <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <header th:replace="th_templates/navbar :: navbar"></header>

  <main class="main-providers">


    <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div class="container">
      <img class="image2" src="../img/provider.svg" alt="providers">
      <h1 class="big-title2">Encontrá los mejores profesionales de la zona</h1>
    </div>
    

    <!-- CARDS / CUSTOMERS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div th:replace="th_templates/cardsProvider :: cardProvider"></div>

<!--    &lt;!&ndash; CARDS SÓLO PARA MOSTRARLAS TEMPORALMENTE &ndash;&gt;-->

<!--    <div th:replace="th_templates/card :: card"></div>-->


<!-- <button type="button" class="btn btn-warning button">+ Mostrar más</button>

    <br>
    <br> -->

  </main>

  <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <footer th:replace="th_templates/footer :: footer"></footer>

  <!-- Script / Bootstrap -->
  <div th:replace="th_templates/bootstrap :: bootstrap"></div>

</body>
</html>