<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="th_templates/head :: head"></head>
<body>
    <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <header th:replace="th_templates/navbar :: navbar"></header>

<!--    eric: aqui el usuario veria su cuenta-->
<!--    eric: asi ya esta funcional y separa lo que ve un provider de un customer
        quedaria dejarlo bonito-->
        <div th:object="${entityReturn}" method="get">
            <form class="form-container">
                <div>
                    <img th:src="@{'/image/DB/' + ${entityReturn.image}}">
                    <div>
                        <label>nombre:</label>
                        <input type="text" th:field="*{name}"/>
                    </div>
                    <div>
                        <label>apellido:</label>
                        <input type="text" th:field="*{lastname}"/>
                    </div>
                    <div>
                        <label>email:</label>
                        <input type="text" th:field="*{email}"/>
                    </div>
                    <div  th:if="${entityReturn.getRole().name() == 'PROVIDER'}">
                        <label>profession:</label>
                        <input type="text" th:field="*{profession}"/>
                    </div>
                    <div>
                        <label>rol:</label>
                        <input type="text" th:field="*{role}"/>
                    </div>
                </div>

            </form>
        </div>
    <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <footer th:replace="th_templates/footer :: footer"></footer>

    <!-- Script / Bootstrap -->
    <div th:replace="th_templates/bootstrap :: bootstrap"></div>
</body>
</html>