<!DOCTYPE html>
<!-- html xmlns:th="http://www.thymeleaf.org" = Para evitar que HTML arroje errores por trabajar con elementos de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="th_templates/head :: head"></head>

<body>
    <!-- NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <header th:replace="th_templates/navbar :: navbar"></header>

    <main class="main-index">
        <br><br>
        <!-- IMG OF THE HANDYMAN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
        <div class="container text-center">
            <br><br><br><br>

            <div class="row">
                <div class="col left-col">
                    <h4 sec:authorize="hasRole('ROLE_PROVIDER')" class="big-title">Tus Trabajos</h4>
                    <h4 sec:authorize="hasRole('ROLE_CUSTOMER')" class="big-title">Mis Solicitudes</h4>
                </div>

                <div class="col">
                    <img class="image3" src="../img/repairHouse.svg" alt="home repair">
                </div>

            </div>
        </div>

        <!-- CARDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->

        <div class="card text-center large-card" th:each="pwl : ${providerWorkList}">
            <br>
            <div class="card-body">
                <h5 class="card-title" th:text="${pwl.userCustomerId.name+' '+pwl.userCustomerId.lastname}"></h5>
                <p class="card-text" th:text="${pwl.workName}"></p>
                <button href="#" class="btn btn-warning" th:if="#{pwl.workStatus.equals('REQUIRED')}">Aceptar Trabajo ✅</button>
                <button href="#" class="btn btn-warning" th:if="#{pwl.workStatus.equals('REQUIRED')}">Cancelar Solicitud ❌</button>
                <button href="#" class="btn btn-warning" th:if="#{pwl.workStatus.equals('ACCEPTED')}">Cancelar Trabajo ❌</button>
                <button href="#" class="btn btn-warning" th:if="#{pwl.workStatus.equals('ACCEPTED')}">Trabajo Terminado ✅</button>
            </div>
            <!-- <div class="card-footer text-body-secondary">
                    2 days ago
                </div> -->
        </div>


        <div class="card text-center large-card" th:each="cwl : ${customerWorkList}">
            <br>
            <div class="card-body">
                <h5 class="card-title" th:text="${cwl.userProviderId.name+' '+cwl.userProviderId.lastname}"></h5>
                <p class="card-text" th:text="${cwl.workName}"></p>
                <button href="#" class="btn btn-warning" th:if="#{pwl.workStatus == 'REQUIRED'}">Cancelar Solicitud ❌</button>
                <button href="#" class="btn btn-warning" th:if="#{cwl.workStatus == 'ACCEPTED'}">Cancelar Trabajo ❌</button>
                <button href="#" class="btn btn-warning" th:if="#{cwl.workStatus == 'DONE'}">Dejar Calificación ⭐</button>
            </div>
            <!-- <div class="card-footer text-body-secondary">
                    2 days ago
                </div> -->
        </div>

    </main>


    <!-- SCRIPTS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <!-- Script for showing stars on slider input >>>>>>>>>>>>>>>>>>>>>>>  -->
    <script>

    </script>

    <!-- FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <footer th:replace="th_templates/footer :: footer"></footer>

    <!-- Script / Bootstrap -->
    <div th:replace="th_templates/bootstrap :: bootstrap"></div>

</body>

</html>